.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #225a61;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding-bottom: 15px;
}

.App-link {
  color: #61dafb;
}

.Button {
  padding: 10px 15px;
  border-radius: 3px;
  border: 0;
  margin: 10px;
  background-color: #fd0d69;
  color: white;
}

.Button:hover {
  background-color: #b80046;
  color: white;
}

.Button:disabled {
  background-color: #b80046;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
