:root {
  --main: #225a61;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #225a61;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding-bottom: 15px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Button {
  padding: 10px 15px;
  border-radius: 3px;
  border-width: 0;
  margin: 10px;
  background-color: #d8a218;
  color: white;
}

.Button:hover {
  background-color: #225a61;
  color: white;
}

.Button:disabled {
  background-color: #5b5b5b;
  color: white;
}

.Button:target {
  background-color: #225a61;
}

.Button:focus {
  background-color: #225a61;
  color: white;
}
.ButtonSelect {
  padding: 10px 15px;
  border-radius: 3px;
  border: 0;
  margin: 10px;
  background-color: #d8a218;
  color: white;
}

.DiscoverPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Select sty;e */
.custom-select {
  position: relative;
  padding: 5px;
}
.custom-select select {
  display: none;
}

.Grid {
  /* display: grid;
  grid-template-columns: auto auto auto; */
  row-gap: 10px;
  justify-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: var(--main) transparent var(--main) transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
  position: fixed;
  top: 50vh;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #000000;
}

.SelectionPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 20px;
}

.TableDetails {
  border-color: #000000;
  border-width: 10px;
  padding: 2px;
  border-radius: 5px;
  margin: 3px;
}
